@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    image-rendering: pixelated;
  }
}

@keyframes bounce {
  from { transform: translateY(0px); }
  to { transform: translateY(-2px); }
}